.newsletter {
    width: 67%;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #feae51, #ffffff 85%);
    gap: 30px;    
    text-align: center;   
    background-position: top;
    background-attachment: fixed;           
}
.newsletter h1 {
    color: #454545;
    font-size: 50px;
    font-weight: 600;
}


.newsletter p {
   color: #454545;
   font-size: 18px;
}

.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border: 1px solid #e3e3e3;
    border-radius: 80px;

}
.newsletter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
}

.newsletter div button {
    width: 210px;
    height: 72px;
    border: none;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width:1280px) {
    .newsletter{
        height: 380px;
        padding: 0 80px;
        margin-bottom: 120px;
        gap: 20px;
    }
    .newsletter h1{
        font-size: 40px;
    }
    .newsletter p{
        font-size: 15px;
    }
    .newsletter div{
        width: 600px;
        height: 60px;
    }
    .newsletter div input{
        width: 400px;
    }
    .newsletter div button{
        width: 162px;
        height: 100%;
    }
}

@media (max-width:1024px) {
    .newsletter{
        height: 320px;
        margin-bottom: 60px;
        width: 72%;
    }
    .newsletter h1{
        font-size: 35px;
    }
    .newsletter p{
        font-size: 13px;
    }
    .newsletter div{
        width: 500px;
        height: 50px;
    }
    .newsletter div input{
        width: 300px;
        font-size: 14px;
    }
    .newsletter div button{
        width: 120px;
        font-size: 14px;
    }
}

@media (max-width:800px) {
    .newsletter{
        padding: 0 50px;
        margin-bottom: 30px;
        height: 250px;
    }
    .newsletter h1{
        font-size: 22px;
    }
    .newsletter p{
        font-size: 13px;
        max-width: 280px;
        text-align: center;
    }
    .newsletter div{
        width: 340px;
        height: 40px;
    }
    .newsletter div input{
        width: 240px;
        font-size: 12px;
    }
    .newsletter div button{
        width: 100px;
        height:100%;
        font-size: 12px;
    }
}

@media (max-width:500px) {
    .newsletter{
        padding: 0 20px;
        margin-bottom: 20px;
        height: 200px;
        width: 80%;
    }
    .newsletter h1{
        font-size: 16px;
    }
    .newsletter p{
        font-size: 11px;
        max-width: 260px;
        text-align: center;
    }
    .newsletter div{
        width: 250px;
        height: 30px;
    }
    .newsletter div input{
        width: 130px;
        font-size: 11px;
        margin-left: 15px;
    }
    .newsletter div button{
        width: 80px;
        font-size: 11px;
    }
}