.shop-category-banner {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 30px auto;
  width: 82%;
  height: 40vh;
  background: linear-gradient(180deg, #feb460d6, #ffffff 60%);
}

.shop-category-banner-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
  padding-top: 5px;
  color: red;
  font-size: 18px;
  background: linear-gradient(180deg, #ff9317, #ffffff 40.7%);
  background-position: top;
  background-attachment: fixed;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.shop-category-banner-left-side h1 {
  font-size: 36px;
  font-weight: 600;
}

.discount-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.discount-account {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 18px 3px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.discount-account span:first-child {
  font-size: 8px;
}

.discount-account span:last-child {
  font-size: 25px;
}

.shop-category-banner img {
  padding-top: 15px;
  max-height: 100%;
}

.shop-category-index-sort {
  display: flex;
  margin: 0 170px;
  align-items: center;
}

.shop-category-sort {
  padding: 3px 12px;
  border-radius: 40px;
  box-shadow: 1px 1px 3px 0.5px #787878;
}

.shop-category-sort select {
  font-family: "poppins";
  outline: none;
  border: none;
  font-size: 16px;
  padding-left: 2px;
}

.shop-category-index-sort p {
  margin-right: 20px;
}

.shop-category-index-sort p span {
  font-weight: 600;
}

.shop-category-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 80px;
}

.shopcategory-load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s;
}

.shopcategory-load-more:hover {
  background: #d2d2d2;
}

.shopcategory-load-more:active {
  background: #c7c7c7;
}

@media (max-width: 1280px) {
  .shop-category-banner {
    margin: 20px auto;
    width: 90%;
  }
  .shop-category-index-sort {
    width: 90%;
    margin: auto;
  }
  .shop-category-sort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shop-category-index-sort p {
    font-size: 12px;
  }

  .shop-category-sort select {
    font-size: 12px;
  }

  .shop-category-products {
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }
  .shop-category-products .item {
    margin: auto;
  }
  .shopcategory-load-more {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .shop-category-banner {
    width: 95%;
  }
  .shop-category-banner img {
    max-height: 80%;
  }

  .shop-category-banner-left-side {
    padding: 10px 20px;
  }
  .shop-category-banner-left-side h1 {
    font-size: 22px;
  }

  .discount-account span:last-child {
    font-size: 20px;
  }
  .shop-category-sort {
    padding: 2px 5px;
  }
  .shop-category-sort select {
    font-size: 12px;
  }
  .shop-category-products {
    width: 95%;
  }
  .shopcategory-load-more {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .shop-category-banner {
    height: 25vh;
  }

  .shop-category-banner img {
    display: none;
  }
  .shop-category-sort select {
    font-size: 12px;
  }
  .shop-category-products {
    grid-template-columns: 1fr 1fr;
  }
}
