.item {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Umbra fină */
}

.item img {
  flex: 1;
  width: 280px;
}

.details-product {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item p {
  margin: 6px 0px;
}

.item-price {
  display: flex;
  gap: 20px;
}

.item-prices-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600px;
}

.item-prices-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500px;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.03);
  transition: 0.4s ease;
}

@media (max-width: 1280px) {
  .item {
    width: 220px;
    font-size: 14px;
  }
  .item img {
    width: 220px;
  }
  .item-prices-old {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .item {
    width: 170px;
    font-size: 13px;
  }

  .item img {
    width: 170px;
  }
  .item-prices-old {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .item {
    width: 110px;
    font-size: 12px;
  }

  .item img {
    width: 110px;
  }
  .item-prices-old {
    font-size: 12px;
  }
}

@media (max-width: 500) {
  .item {
    width: 160px;
    font-size: 12px;
  }

  .item img {
    width: 160px;
  }
  .item-prices-old {
    font-size: 12px;
  }
}
