.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  background-color: #ececec;
  box-shadow: 0 1.5px 6px -4px rgb(0, 0, 0);
}

.nav-logo-container {
  display: flex;
  align-items: center;
  height: fit-content;
}

.nav-logo-container img {
  width: 150px;
  height: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500px;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 90%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}

.nav-login-cart-container {
  display: flex;
  align-items: center;
  gap: 45px;
  position: relative;
}

.nav-login-cart-container button {
  width: 150px;
  height: 60px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
  transition: all 0.15s;
}


.nav-login-cart-container button:hover {
  background: #f3f3f3;
}

.nav-login-cart-container button:active {
  background: #c3c3c3;
}

.nav-login-cart-container img {
  width: 35px;
  height: auto;
}

.nav-cart-count {
  position: absolute;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  left: 220px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.navbar a:link,
.navbar a:visited {
  text-decoration: none;
  color: black;
}

.nav-dropdown {
  display: none;
}

@media (max-width: 1280px) {
  .navbar {
    padding: 12px 50px;
  }
  .nav-logo-container img {
    width: 110px;
  }
  .nav-menu {
    gap: 30px;
    font-size: 16px;
  }
  .nav-login-cart-container {
    gap: 30px;
  }

  .nav-login-cart-container button {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }

  .nav-cart-count {
    font-size: 12px;
    top: 0px;
    left: 175px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 12px 30px;
  }

  .nav-menu {
    gap: 25px;
    font-size: 14px;
  }

  .nav-logo-container img {
    width: 95px;
  }
  .nav-login-cart-container button {
    width: 80px;
    height: 35px;
    font-size: 14px;
  }

  .nav-login-cart-container img {
    width: 30px;
  }
  .nav-cart-count {
    width: 18px;
    height: 18px;
    top: 0px;
    left: 130px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 10px 0px;
  }
  .nav-dropdown {
    display: block;
    align-items: baseline;
    width: 35px;
    height: 35px;
    rotate: -90deg;
    transition: 0.5s;
    cursor: pointer;
  }
  .nav-menu {
    /*clasa cu meniul ascuns care este schimbate mai jos prin onClick cu clasa urmatoare*/
    display: none;
    height: 80px;
    width: 100%;
    position: absolute;
    background: white;
    justify-content: center;
    top: 52px;
  }
  .nav-menu-visible {
    display: flex;
  }
  .nav-dropdown.open {
    transform: rotate(90deg);
  }
}

@media (max-width: 500px) {
  .navbar {
    width: 8px 0;
    gap: 0;
  }
  .nav-logo-container {
    transform: scale(0.9);
  }

  .nav-menu {
    height: 70px;
    top: 53px;
  }

  .nav-login-cart-container {
    transform: scale(0.8);
  }
}
