.offers {
  display: flex;
  width: 65%;
  height: 600px;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #ffa742, #ffffff 85%);
  background-position: top;
  background-attachment: fixed;
}

.offers a:link,
.offers a:visited {
  text-decoration: none;
  color: black;
}

.offers-left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

.offers-left-side h1 {
  color: #171717;
  font-size: 62px;
  font-weight: 500;
}

.offers-left-side p {
  color: #171717;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  padding-left: 4px;
}

.offers-left-side button {
  width: 284px;
  height: 70px;
  border-radius: 35px;
  background: #ff7f1e;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500px;
  transition: all 0.1s;
  cursor: pointer;
}

.offers-left-side button:hover {
  background: #ff6a00;
}

.offers-right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-position: top;
  background-attachment: fixed;
}

.offers-right-side img {
  width: 350px;
  height: auto;
}

@media (max-width: 1280px) {
  .offers {
    padding: 0 80px;
    margin-bottom: 120px;
  }
  .offers-left-side h1 {
    font-size: 40px;
  }
  .offers-left-side p {
    font-size: 17px;
  }
  .offers-right-side img {
    width: 320px;
  }
  .offers-left-side button {
    width: 220px;
    height: 50px;
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .offers {
    height: 300px;
    padding: 0 60px;
    margin-bottom: 80px;
  }
  .offers-left-side h1 {
    font-size: 30px;
  }
  .offers-left-side p {
    font-size: 13px;
  }
  .offers-right-side img {
    width: 175px;
  }
  .offers-left-side button {
    width: 160px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .offers {
    margin-bottom: 60px;
  }
  .offers-left-side h1 {
    font-size: 22px;
  }
  .offers-left-side p {
    font-size: 11px;
    text-transform: lowercase;
  }
  .offers-right-side {
    max-width: 38%;
  }
  .offers-right-side img {
    max-width: 100%;
  }
  .offers-left-side button {
    width: 140px;
    height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .offers {
    height: 190px;
    padding: 0 30px;
    margin-bottom: 50px;
  }
  .offers-left-side h1 {
    font-size: 16px;
  }
  .offers-left-side p {
    display: none;
  }
  .offers-right-side img {
    width: 110px;
  }
  .offers-left-side button {
    width: 120px;
    height: 25px;
    font-size: 10px;
    margin-top: 12px;
  }
}
